h1,
h2 {
  font-family: Lato;

  letter-spacing: 0.2rem;
  background: -webkit-linear-gradient(rgb(201, 23, 53), rgb(174, 0, 218));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.container {
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  padding-bottom: 10vh;
}
